/nodejs/unit-test/node_modules
/nodejs/unit-test/coverage
/nodejs/logging/node_modules
/nodejs/logging/coverage
/nodejs/expressjs/node_modules
/nodejs/mustache/node_modules
/nodejs/mustache/coverage
/nodejs/database/node_modules
